extends layout

block profile-selection
  .row
    .col.s12.purple.lighten-3.hide-on-med-and-down
      a.text-grey.breadcrumb(href='/profile/main') Profile
      a.breadcrumb#profile-page-name(href='/profile/main') Information
  .row
    .col.s12
      h5.center-align #{session.userNickname}
  .row
    .col.s12.l6
      .input-field
        input#profile-nickname(type='text' value=session.userFirstName, readonly)
        label(for='profile-first-name') First name
    .col.s12.l6
      .input-field
        input#profile-nickname(type='text' value=session.userLastName, readonly)
        label(for='profile-last-name') Last name
  .row
    .col.s3.l2
      b Email:
    .col.s4.l7
      a(href='#') change
    .col.s5.l3.truncate #{session.userEmail}

  .row
    .col.s3.l2
      b Password:
    .col.s4.l7
      a(href='#') change
    .col.s5.l3 ******

  .row
    .col.s3.l2
      b Avatar:
    .col.s4.l7
      .file-field.input-field
        .btn-small.waves-effect.waves-light
          span Upload new
          input(type='file' accept="image/x-png,image/gif,image/jpeg")
    .col.s5.l3
      img.circle.materialboxed(src=session.userIconPath, width=60, height=60)

  .row
    .col.s3.l2
      b Group:
    .col.s9.l10
      .input-field
        select#user-role
          optgroup(label='Unactivated')
            option(value='0') Guest
          optgroup(label='Activated')
            option(value='1') User
            option(value='2') Journalist
            option(value='3') Redactor
            option(value='4') Administrator
        script document.getElementById('user-role').value = #{session.userRole};
  .row
    .col
      button.btn.waves-effect.waves-light Save
        i.material-icons.left save