doctype html

html
  head
    title= title
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.css')
    link(rel='stylesheet', href='https://fonts.googleapis.com/icon?family=Material+Icons')
    link(rel='stylesheet', href='/stylesheets/style.css')
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    script(src='https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.js')
    script(src='/javascripts/notifications.js')
    block additionalScripts
  body
    .navbar-fixed
      nav
        .nav-wrapper.blue
          a.brand-logo(href='/').waves-effect.waves-light PubHou
            i.large.material-icons public
          a.sidenav-trigger(href='#', data-target='mobile-menu').waves-effect
            i.material-icons menu
          ul#nav-mobile.right.hide-on-med-and-down
            li.waves-effect.waves-light
              a(href='#').notification-btn Notifications
                i.material-icons.left notifications
            li.waves-effect.waves-light
              if session.userId != undefined
                a.tooltipped(href=`/profile/information?userId=${session.userId}`, data-tooltip=session.userNickname)
                    img.circle(src=session.userIconPath, width='40' height='40' style='vertical-align: middle')
              else
                a.modal-trigger.tooltipped(href='#account', data-tooltip='Account')
                    img.circle(src='/images/icons/person-male.png', width='40' height='40' style='vertical-align: middle')
            li
              .input-field
                input#search(type='search' required='')
                label.label-icon(for='search')
                  i.material-icons search

    .modal#account
      form(action='/', method='POST')
        .modal-content
            .row
              .col.s12
                h4 Sign in
              .col.s12.input-field
                i.material-icons.prefix account_circle
                input#email(type='text', name='email')
                label(for='Email') Email
              .col.s12.input-field
                i.material-icons.prefix lock
                input#password(type='password', name='password')
                label(for='Password') Password
              .col.s12
                p If you using our service first time it's time to 
                  a(href='/register') Sign up
        .modal-footer
          button.btn.waves-effect.waves-light Sign in
            i.material-icons.right send

    ul.sidenav#mobile-menu
      li
        .user-view
          .background
            img(src='/images/backgrounds/1.jpeg')
          if session.userId != undefined
            a.modal-trigger.tooltipped(href=`/profile/information?userId=${session.userId}`, data-tooltip=session.userNickname)
              img.circle(src=session.userIconPath, width='40' height='40' style='vertical-align: middle')
          else
            a.modal-trigger.tooltipped(href='#account', data-tooltip='Account')
              img.circle(src='/images/icons/person-male.png', width='40' height='40' style='vertical-align: middle')
          a.white-text(href='#')
            span.name= session.userNickname
          a(href='#')
            span.white-text.email= session.userEmail
      li
        a(href='#').notification-btn Notifications
          i.material-icons.left notifications
      li
        .divider
      li
        a(href='/search') Search
          i.material-icons search
    main
      block content
        p empty content
    footer.page-footer.blue
      .container
        .row
          .col.s12.l6
            h5.white-text Publishing house
            p.grey-text.text-lighten-4 BSTU Oracle Database course project. Database access only via procedures. Backend part uses Node.js with express framweork
          .col.s12.l4.offset-l2
            h5 Links
            ul
              li
                a.grey-text.text-lighten-3(href='/') Home
              li
                a.grey-text.text-lighten-3(href='/about') About
      .footer-copyright
        .container  © 2019 Dmitry Plotnikov
    if session.userRole >= 2
      .fixed-action-btn
        a.btn-floating.btn-large.waves-effect.waves-light.pulse.waves-circle(href='/create')
          i.material-icons.large create
    script M.AutoInit();