extends layout

block additionalScripts
  script(src='/javascripts/libs/markdown.js')
  script(src='/javascripts/material/material.js')
  script(src='/javascripts/material/comments-preloader.js')

block content
  .container
    .row
      .col.xl3.l12.s12.push-xl9
        .card.blue.lighten-5
          .card-content
            .flow-text= material.subject
          .card-content
            p= `Created: ${material.created}`
            span Author: 
            a(href=`/profile/information?userId=${material.authorId}`) #{material.authorNickname}
          if session.id != undefined
            if session.userRole >= 3
                if material.status === 'PENDING'
                  .card-content
                    p.purple-text
                      span This material should be reviewed!
                    a(href=`/material?id=${material.id}&action=accept`).btn.waves-effect.waves-light Accept
                      i.material-icons.left rate_review
                    a(href=`/material?id=${material.id}&action=reject`).btn.waves-effect.waves-light.red Reject
                      i.material-icons.left not_interested
      .col.xl9.l12.pull-xl3
        #preview-zone= material.content
    if material.status !== 'PENDING'
      .row
        if session.userId != undefined
          .col.m1.hide-on-med-and-down
            img.circle(src=`${session.userIconPath}` width=54 height=54)
          .col.s12.m9
            .input-field
              textarea.materialize-textarea#comment-textarea
              label(for='comment-textarea') Type a comment
          .col.m2.s12
            button#post-comment-btn.btn.waves-effect.waves-light Post
              i.material-icons.right send
        else
          a.btn.waves-effect.waves-light.modal-trigger.tooltipped(href='#account', data-tooltip='Account') Sign in to leave a comment
      
      .row
        .col.s12
          ul.collection#comments-row
      .row
        .col.s12.offset-l5.offset-m4
          input#id-field(type='hidden' value=`${material.id}`)
          #fetch-preloader.preloader-wrapper.active.hide
              .spinner-layer.spinner-blue-only
                .circle-clipper.left
                  .circle
                .gap-patch
                  .circle
                .circle-clipper.right
                  .circle
          button#fetch-more-btn.btn.btn-large.waves-effect.waves-light.center-align Fetch more