extends layout

block additionalScripts
  script(src='/javascripts/libs/markdown.js')

block content
  .container
    .row
      .col.s12
        form(method='GET' action='/search')
          .input-field
            input#search-input(type='text' name='q' value=req.query.q)
            label(for='search-input') Search query here
          .input-field
            input(type='submit' value='Search').btn
    if hits
      .row
        .col.s12
          h3= `${hits.length} search result${hits.length > 1 ? 's' : ''} below...`
          ul.collection
            each item in hits
              li.collection-item
                span.title= item._source.subject
                //script markdown.toHTML(#{item._source.content}); 
                p= item._source.content
